a{
  text-decoration: none;
  color: #ffc107;
  transition: .5s ease;
  &:hover{
    color: #ffc107;
    opacity: .8;
  }
}

.hero{
  background-image: url("../img/bg-trading.jpg");
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: 1;

  overflow: hidden;

  // padding: 15rem 15rem 15rem 15rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &::after{
      position: absolute;
      content: '';
      top:0;
      left:0;
      width: 100%;
      height: 100VH;
      background: rgba(255, 255, 255, 0.1);
      opacity: 80%;
      z-index: -1;
  }
}
.forms{
  max-width: 920px;
}
.form-control{
  background-color: transparent;
  border: none;
  label,h2{
    color: #ffc107;
  }
  input{
    border: 1px solid #fff;
    background-color: #fff;
  }
}
.result, footer{
  color:#ffc107;
}

